<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/tabla.css">
    <%- include('partial/head.html'); -%>
</head>
<body>
    
    <style>
        body {
              position: relative;
  min-height: 100vh;

background: #80cf74;
background: linear-gradient(90deg, rgba(128, 207, 116, 1) 0%, rgba(123, 196, 112, 1) 54%);
            
   /*         background: #4B79A1;  
background: -webkit-linear-gradient(to right, #283E51, #4B79A1);  
background: linear-gradient(to right, #283E51, #4B79A1); */

        }
    
        #contener {
            width: 60%;
            min-height: 50vh;
            position: fixed;
            bottom: 25%;
            right: 20%;
    
        }
        *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


    </style>
    <div id="snow">
    <%- include('partial/navigation.html'); -%>
    <div id="contener" align='center'>
        
            <div class="card animated flipInY animate__animated animate__backInUp">
                <div class=" card-header bg-dark text-white border: none">
                    <h2 class="text-center">PLANES DE ESTUDIO</h2><br>
                </div>
                <div class="card-body ">
                    <div class="input-group">
                        <label for="facultad">FACULTDAD:&nbsp;</label>
                        <select name="facultades" id="facultades" class="form-select form-select-sm"
                            aria-label=".form-select-sm example">
                            <option value="0">.........</option>
                            <% for(var i=0; i<facult.length; i++){ %>
                                <option value="<%=facult[i].id%>" name="<%= facult[i].opcion %>">
                                    <%= facult[i].opcion %>
                                </option>
                                <% } %>
                        </select>
                        <label for="carrera">CARRERA:&nbsp;</label>
                        <select id="carreras" class="form-select form-select-sm" aria-label=".form-select-sm example">
    
                        </select>
    
    
                    </div>
                </div>
                <div class="form-group">
                    <br>
                    <button id="buscar" onclick="location.href='carrera'" class="btn btn-success">Buscar plan de estudio</button>
                </div>
            </div>
            </div>
        </div>
        <div align="">
<%- include('partial/footer.html'); -%>
        </div>

       
    <script src="/js/js.js"></script>

</body>

</html>